html{
    height:100%;
    overflow-y:hidden;
}
body {
    height:100%;
    overflow-y:hidden;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Set the Menu Styles*/
div.leftMenu{
    background-color:lightgrey;
    min-height:500px;
    height:100%;
    overflow-y:hidden;
}
ul:hover,
li:hover{
    cursor:pointer;
}
/*Set Head Row & Content Row*/
.headRow{
    height:10%;
}
.contentRow{
    height:90%;
}
/*Set The Container-fluid*/
.container-fluid{
    height:100%;
    min-height:100%;
    overflow-y:hidden;
}