<div style="height:500px;background-color:grey;">
    <ul class="">
        <li>首页</li>
        <li>用户管理
            <ul>
                <li>用户信息</li>
            </ul>
        </li>
        <li>
            Others
        </li>
    </ul>
</div>
