    <ul class="rootMenu">
        <li><a href="@Url.Action("PluginsHome","ValidatePlugins")" target="_blank">首页</a></li>
        <li class="subMenu">JS组件
            <ul>
                <li><a href="@Url.Action("DateTimePicker","ValidatePlugins")">DateTimePicker</a></li>
                <li><a href="@Url.Action("PluginsHome","ValidatePlugins")">Validate</a></li>
            </ul>
        </li>
        <li>
            Others
        </li>
    </ul>