<div class="leftMenu">
    <ul class="rootMenu">
        <li>首页</li>
        <li class="subMenu">JS组件
            <ul>
                <li><a href="#">DateTimePicker</a></li>
            </ul>
        </li>
        <li>
            Others
        </li>
    </ul>
</div>
