
@{
    ViewBag.Title = "PluginsHome";
    Layout = "~/Areas/Plugins/Views/Shared/_PluginsLayoutPage.cshtml";
}
<h2>DateTimePicker</h2>
<div>
    <input id="basicPicker" />
</div>
<script src="~/Scripts/Plugins/jquery-plugin-DateTimePicker.js"></script>
<script src="~/Scripts/Plugins/DateTimePicker.js"></script>